@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-bg: #151719;
  --clr-text: #d9e3ea;
  --clr-text-light: #9ba9b4;
  --clr-accent-purple: #5d5dff;
  --clr-accent-light-purple: #8d8dff;
  --clr-accent-dark-purple: #4b4acf;
  --clr-accent-mint: #c6f6d5;
  --clr-accent-green: #36a269;
  --clr-accent-red: #e53d3e;
  --clr-light-gray: #33363a;
  --clr-dark-gray: #25282c;
}

*,
*::before,
*::after,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

.page-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.about-list > li {
  list-style: inside url("/icon_check.svg");
  padding: 4px 0;
}
